.display {
  border: 2px solid rebeccapurple;
  height: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: yellow;
}

.grid-item {
  border: 1px solid grey;
}
.grid-item button {
  width: 100%;
}
.lower-buttons {
  display: flex;
  justify-content: space-between;
}
